<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <!-- css 만들어 말어? link rel="stylesheet" href=".resources/static/.css?"-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 검색-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>Title</title>
<!--    #springboot 링크 방식-->


<div class="container">
    <section class="center">
        <div class="bannernav">
            <img src="/static/memberproductimg/banner.png" alt="Banner">
        </div>
        <div class="md">
            <div>
                <ul class="sell_items">
                    <li class="sell_item"><img src="/static/memberproductimg/11377090_4727185.jpg" alt="item1"></li>
                    <li class="sell_item"><img src="/static/memberproductimg/3766920_76474.jpg" alt="item2"></li>
                    <li class="sell_item"><img src="/static/memberproductimg/smartphone-device-with-minimalist-monochrome-background.jpg" alt="item3"></li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer"><hr>
            <h4>@퐁케이스</h4>
            <h5>주소 : 서울시 강남구 역삼동</h5>
        </div>
    </footer>
</div>

</html>
