<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Responsive Navigation Bar</title>




<link th:href="@{/css/header.css}" rel="stylesheet">


<div th:fragment="header">
    <div class="wrap" style="padding-top: 10px;">
        <div class="navjh">
                <div class="navLogo">
                    <a href="logo">
                        <img id="nav-Logo" src="/memberproductimg/logo.png" alt="로고"/>
                    </a></div>
            </div>
        <div class="jhicon">
                <div class="navIcon">
                    <button th:onclick="|location.href='@{/member/login}'|" ><span class="material-symbols-outlined">login</span></button>
                    <button th:onclick="|location.href='@{/member/login}'|"><span class="material-symbols-outlined">logout</span></button>
                    <button onclick="mypage()"><span class="material-symbols-outlined">person</span></button>
                    <button th:onclick="|location.href='@{/cart}'|" ><span class="material-symbols-outlined">shopping_bag</span></button>
                </div>

        </div>

        <!-- 메인카테고리, 검색어박스, 검색버튼 -->
        <div class="navbarjh">
            <a href="#">하드</a>
            <a th:href="@{/products/proList2}" >젤리</a>
            <a href="#">z-플립</a>
            <a href="#">공지사항</a>
            <div class="searchNav">
                <form action="/action_page.php" style="display: flex; align-items: center;">
                    <input type="text" placeholder="검색..어.." name="search" style="margin: 15px; text-align: center">
                    <button type="submit">
                        <span class="material-symbols-outlined">search</span></button>
                </form>
            </div>
        </div>

    </div>




    <!--요셉님-->
    <nav class="navHeader">

        <div class="divLogo">
            <img id="nav-Logo2" src="/memberproductimg/logo.png" alt="로고"/>
        </div>
        <div class="divMenu">
            <div class="menu"> <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; </span></div>
        </div>

        <div class="wrapys" >
            <div class="nav2">
                <div class="navIcon">


                </div>
            </div>

            <div class="divloginLogoutMyInfoShoppingBasket">
                <button th:onclick="|location.href='@{/member/login}'|" ><span class="material-symbols-outlined">login</span></button>
                <button th:onclick="|location.href='@{/member/login}'|"><span class="material-symbols-outlined">logout</span></button>
                <button onclick="mypage()"><span class="material-symbols-outlined">person</span></button>
                <button th:onclick="|location.href='@{/cart}'|" ><span class="material-symbols-outlined">shopping_bag</span></button>
            </div>

            <div class="divSearch">
                <div class="Search">
                    <!-- 검색 -->
                    <form class="example" action="action_page.php">
                        <input type="text" class="fainput" placeholder="Search.." name="search">
                    </form>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>

            </div>
        </div>

    </nav>




    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="#">하드케이스</a>
            <a href="#">젤리케이스</a>
            <a href="#">카드수납케이스</a>
            <a href="#">투명케이스</a>
            <a href="#">Z-플립케이스</a>
        </div>
    </div>


    <div class="headersj">
        <div class="navsj">
            <!-- 로고 이미지 -->
            <img src="/memberproductimg/logo.png" alt="Logo">
            <!-- 메뉴 사이드바 이미지 -->
            <div class="menu menu-icon" onclick="toggleSidebar()">
                <div class="barsj"></div>
                <div class="barsj"></div>
                <div class="barsj"></div>
            </div>
            <!-- 사이드바 및 메뉴 항목들 -->
            <div class="sidebarsj" id="sidebarsj">
                <ul class="menu-itemssj">
                    <li class="menu-itemsj">젤리 케이스</li>
                    <li class="menu-itemsj">하드 케이스</li>
                    <li class="menu-itemsj">기본 케이스</li>
                    <!-- 필요한 만큼 메뉴 항목을 추가할 수 있습니다. -->
                </ul>
            </div>
        </div>

        <div class="categorysj">
            <div class="searchsj">
                <!-- 검색 -->
                <form class="examplesj" action="action_page.php">
                    <input class="fainput" type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>

            </div>
            <div class="navIconsj">
                <button th:onclick="|location.href='@{/member/login}'|" ><span class="material-symbols-outlined">login</span></button>
                <button th:onclick="|location.href='@{/member/login}'|"><span class="material-symbols-outlined">logout</span></button>
                <button onclick="mypage()"><span class="material-symbols-outlined">person</span></button>
                <button th:onclick="|location.href='@{/cart}'|" ><span class="material-symbols-outlined">shopping_bag</span></button>

            </div>
        </div>
    </div>

</div>
</html>