<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!--
     #visual studio code 링크 방식
   <link href="css/memberLogin.css" rel="stylesheet"/>
   <link href="css/basic.css" rel="stylesheet"/>
   -->

    <!--
    #springboot 링크 방식 -->
    <link th:href="@{/css/memberLogin.css}" rel="stylesheet">
    <link th:href="@{/css/basic.css}" rel="stylesheet">

</head>




<body>

<div class="login-box">

    <form action="#">
        <div class="container">
            <h1>퐁케이스</h1>
            <br>
            <p>아이디 찾기 : 이름, Email을 입력해주세요</p>
            <hr>

            <label for="memberId"><b>이름</b></label>
            <input type="text" placeholder="Enter Id" name="memberId" id="memberId" required>

            <label for="memberPw"><b>E-mail</b></label>
            <input type="email" placeholder="Enter Password" name="memberPw" id="memberPw" required>
            <button type="submit" class="registerbtn">인증번호받기</button>
            <hr>

            <label for="memberId"><b>인증번호</b></label>
            <input type="text" placeholder="Enter Id" name="memberId" id="memberId" required>
            <button type="submit" class="registerbtn">인증</button>
        </div>

        <div class="container signin">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
    </form>

    </form>
</div>

</body>
</html>