<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    
    <!--
        #visual studio code 링크 방식
      <link href="css/memberLogin.css" rel="stylesheet"/>
      <link href="css/basic.css" rel="stylesheet"/>
      -->
    
    <!--
    #springboot 링크 방식 -->
    <link th:href="@{/css/memberLogin.css}" rel="stylesheet">
    <link th:href="@{/css/basic.css}" rel="stylesheet">
    
    
    
</head>

<body>

<div class="login-box">
    
    <form action="#">
        <div class="container">
            <h1>퐁케이스</h1>
            <br>
            <p>로그인</p>
            <hr>
            
            <label for="memberId"><b>ID</b></label>
            <input type="text" placeholder="Enter Id" name="memberId" id="memberId" required>
            
            <label for="memberPw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="memberPw" id="memberPw" required>
            
            <hr>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            
            <button type="submit" class="registerbtn" th:onclick="|location.href='@{/}'|" >로그인</button>
            <button type="submit" class="registerbtn" th:onclick="|location.href='@{/member/agreement}'|">회원가입</button>
            
            <div>
                <a  th:href="@{/member/findId}" class="#">l 아이디 찾기 l</a>
                <a  th:href="@{/member/findPassword}" class="#"> 비밀번호  찾기 l</a>
            </div>
        
        </div>
        
        
        <div class="container signin">
            <p>Already have an account? <a th:href="@{/}">Sign in</a>.</p>
        </div>
    </form>
    
    </form>
</div>

</body>
</html>