<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<!--    <link rel="stylesheet" href="/css/memberProductDetailPage.css" />-->
<!--    <link rel="stylesheet" href="/css/font.css" />-->

<!--    <link th:href="@{/css/memberProductPages.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/font.css}" rel="stylesheet">-->


    <div layout:fragment="content" class="content">
<div class="card-wrapper">

    <div class="card">
        <!-- card left -->
        <div class="product-imgs">

            <!-- 1. 큰 이미지 -->
            <div class="img-showcase">

                <img src="/memberproductimg/jelly1.jpeg" alt="">

            </div>
            <!-- 2. 상세 이미지 -->
            <div class="img-select">
                <div class="img-item">
                    <a href="#" data-id="1">
                        <img src="/memberproductimg/jelly1.jpeg" alt="">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="2">
                        <img src="/memberproductimg/purple.jpeg" alt="">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="3">
                        <img src="/memberproductimg/heart.jpeg" alt="">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="4">
                        <img src="/memberproductimg/moon.jpeg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class="product-content">
            <h2 class="product-title">(젤리) 기본 케이스 </h2>
            <hr>

            <h2 class="product-price">
                <p class="last-price">정상가격: <span>10000</span></p>
                <p class="new-price">할인가격: <span>5000 (50%)</span></p>
            </h2>

            <h2 class="product-code1">
                <p class="product-code2">상품코드: <span>H-2404-001</span></p>
            </h2>

            <div class="product-detail">
                <h2 class="product-detail1">상세설명:</h2>
                <p class="product-detail2"> 깔끔한 디자인과 탁월한 보호 기능!<br>변색 걱정 없는 케이스!<br>디자인별로 있습니다~</p>
            </div>

            <div class="design-options">디자인:
                <select class="form-select1" id="case-options"> <!-- 3차옵션-케이스디자인 -->
                    <option>기본</option>
                    <option>나비</option>
                    <option>하트</option>
                    <option>달</option>
                </select>
            </div>

            <div class="product-option">기종:
                <select class="form-select" id="first-option"> <!-- 1차옵션 -->
                    <option value="아이폰">아이폰</option>
                    <option value="갤럭시">갤럭시</option>
                </select>

                <select class="form-select2" id="iphone-options"> <!-- 2차옵션-아이폰 -->
                    <option>12 mini</option>
                    <option>12 / 12 Pro</option>
                    <option>12 Pro Max</option>
                    <option>13 mini</option>
                    <option>13</option>
                    <option>13 Pro</option>
                    <option>13 Pro Max</option>
                    <option>14</option>
                    <option>14 플러스</option>
                    <option>14 Pro</option>
                    <option>14 Pro Max</option>
                    <option>15</option>
                    <option>15 플러스</option>
                    <option>15 Pro</option>
                    <option>15 Pro Max</option>
                </select>

                <select class="form-select2" id="galaxy-options"> <!-- 2차옵션-갤럭시 -->
                    <option>갤럭시S 21</option>
                    <option>갤럭시S 21 플러스</option>
                    <option>갤럭시S 21 울트라</option>
                    <option>갤럭시S 22</option>
                    <option>갤럭시S 22 플러스</option>
                    <option>갤럭시S 22 울트라</option>
                    <option>갤럭시S 23</option>
                    <option>갤럭시S 23 플러스</option>
                    <option>갤럭시S 23 울트라</option>
                    <option>갤럭시S 24</option>
                    <option>갤럭시S 24 플러스</option>
                    <option>갤럭시S 24 울트라</option>
                    <option>노트20</option>
                    <option>노트20 울트라</option>
                </select>

            </div>

            <div class="purchase-info">
                <p class="purchase-info1">수량: </p>
                <input class="purchase-info2" type="number" min="0" value="1">
            </div>

            <div class="social-links">
                <p style="font-size: 20px; margin-right: 35px;">Share At: </p>

<!--                <a href="javascript:sendNaverLine();">-->
<!--                    <img id="social-links1" src="/memberproductimg/LineIcon.png" alt="네이버라인"/>-->
<!--                </a>-->

                <a href="javascript:LineIt.loadButton();">
<!--                    <img id="social-links1" src= /memberproductimg/LineIcon.png" alt="네이버라인"/>-->
                    <img id="social-links1" src="https://social-plugins.line.me/lineit/share?url=your_url&text=" />
                </a>

                                <a href="#">
                    <img id="social-links2" src="/memberproductimg/facebookIcon.png" alt="페이스북"/>
                </a>

                <a href="#">
                    <img id="social-links3" src="/memberproductimg/InstagramIcon.png" alt="인스타그램"/>
                </a>

                <a href="javascript:sendLink()"><img id="social-links4"
                                                     src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" alt="카카오톡" /></a>
            </div>
            <hr class="hr2">
            <a th:href="@{/cart}">
            <button type="button" class="btn">
                장바구니 담기
            </button>

            </a>
            <a th:href= "@{/order}">
            <button type="button" class="btn">구매하기</button>
            </a>
        </div>
    </div>

</div>
<hr class="hr3">
<div class="imgContent">
    <img src="/memberproductimg/jelly1.jpeg" alt="Jelly">
</div>
<div class="imgContent">
    <img src="/memberproductimg/purple.jpeg" alt="Purple">
</div>
<div class="imgContent">
    <img src="/memberproductimg/heart.jpeg" alt="Heart">
</div>
<div class="imgContent">
    <img src="/memberproductimg/moon.jpeg" alt="Moon">
</div>
</div>>

</html>