body{
    color: navy;
}
.boardwrap{
    margin-top: 150px;
    height: 80%;
}

.th22, .td22{
    text-align: center;
}
#tableheaderboard{
    background-color: #F7CAC9;
}
#tablebodyboard{
    background-color: #F6F4FC;
}
#bordertable{
    width: 100%;
}
#tableheaderboard, #tablebodyboard{
    color: navy;
    padding: 0px;
    text-align: left;
}
#tablebodyboard{
    border-top: none; /* 위쪽 선 없애기 */
    border-bottom: none; /* 아랫선 없애기 */
}
.th11, .td11{
    width:5%;

    padding-left: 0px;
}
.th22, .td22{
    width:50%
}
.th33, .td33{
    width:20%
}
.th44, .td44{
    width:25%
}

@media only screen and (max-width: 480px) {
    .th11, .td11,
    .th22, .td22,
    .th33, .td33,
    .th44, .td44 {
        font-size: 12px;
        display: inline-block;
        width: auto;
        vertical-align: top; /* 셀을 상단에 정렬합니다. */
    }
}