body{
    color: navy;
}
.boardwrap{
    margin-top: 150px;
    width: 100%;
    height: 80%;

}

.th22, .td22{
    text-align: center;
}
#tableheaderboard{
    background-color: #F7CAC9;
}
#tablebodyboard{
    background-color: #F6F4FC;
}
#bordertableboard{
    width: 100%;
}
#tableheaderboard, #tablebodyboard{
    text-align: center;
    color: navy;
}
#tablebodyboard{
    border-top: none; /* 위쪽 선 없애기 */
    border-bottom: none; /* 아랫선 없애기 */
}
.th11, .td11{
    width:5%;
    text-align: left;
}
.th22, .td22{
    width:60%
}
.th33, .td33{
    width:10%
}
.th44, .td44{
    width:10%
}