
@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-style: normal;
}
.container{
    background-color: #F6F4FC;
}
.nav img {
    max-height: 30%;
    max-width: 30%;
    height: auto;
    width: auto; /* 이미지의 가로세로 비율 유지 */
}
.bannernav img{
    width: 100%;
    height: auto;
}

.category {
    background-color: #FFC0CB;
    color: navy;
    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    font-family: 'omyu_pretty';
    font-weight: bold;
}

.category >search {
    order: 1; /* search를 첫 번째로 이동 */
}
form.example input[type=text] {
    padding: 6px;
    font-size: 15px;
    border: 1px solid #FFC0CB;
    float: left;
    width: 80%;
    background: #F6F4FC;
}
form.example button {
    width: 10%;
    padding: 5px;
    background: #FFC0CB;
    color: #F0F8FF;
    font-size: 17px;
    border: 1px solid #FFC0CB;
    border-left: none;
    cursor: pointer;
    text-align: center;
}
.category >navIcon {
    order: 3; /* categoryNav를 세 번째로 이동 */
    padding-bottom: 0px;
}
.navIcon button {
    font-size: 17px;
    color: #F0F8FF;
    background: #FFC0CB;
    border: #FFC0CB;
    cursor: pointer;
    outline: none;
}
/* 기본 스타일 */
body {
    display: inline-block;
    text-align: center;
    font-family: 'SOYOMapleBoldTTF';
}
h1 {
    color: navy;
    font-size: 2.5rem;
}
.sell_items {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.sell_item {
    margin-right: 2px; /* 각 항목 사이의 간격 조절 */
}

.sell_item img {
    width: 99%;
    height: 95%;
    object-fit: cover;
}
.footer {
    text-align: left;
    font-family: 'SOYOMapleBoldTTF';
}
/* 태블릿 */
@media screen and (min-width: 481px) and (max-width: 1280px) {
/*@media screen and (min-width: 375px) and (max-width: 1024px) {*/
    h1 {
        font-size: 1.5rem; /* 제목 크기를 크게 조정 */
    }
    .header {
        height: 10%;
    }

    .navIcons button {
        font-size: 2rem; /* 아이콘 크기를 조정 */
    }
    .menu {
        justify-content: right;
        cursor: pointer;
        width: 25px;
        height: 30px;
        position: relative;
    }

    .menu.active .bar {
        position: absolute;
    }
    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.active .bar:first-child {
        top: 25%;
        transform: rotate(45deg);
    }
    .menu.active .bar:last-child {
        top: 25%;
        transform: rotate(-45deg);
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #FFC0CB;
        margin: 6px 0;
        transition: 1s;
    }

    /* 추가된 부분: 사이드바 스타일 */
    .sidebar {
        position: fixed;
        top: 0;
        left: -20%; /* 사이드바를 왼쪽으로 숨김 */
        width: 20%;
        height: 100%;
        background-color: #FFF; /* 배경색은 원하는 색상으로 변경 가능 */
        transition: left 0.3s ease; /* 애니메이션 효과를 주기 위한 transition 속성 */
    }

    .sidebar.active {
        margin-top: 25%;
        left: 0; /* 사이드바를 왼쪽으로 보이게 함 */
    }

    .menu-items {
        list-style-type: none;
        padding: 0;
    }

    .menu-item {
        padding: 1%;
        border-bottom: 1px solid #CCC; /* 메뉴 항목 구분선 */
    }
}