/** {*/
/*    !*box-sizing: border-box;*!*/
/*}*/
/*html {*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    font-family: Arial, "San Fransisco", "Helvetica Neue", Helvetica, Tahoma, sans-serif;*/
/*}*/

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'SOYOMapleBoldTTF', 'omyu_pretty';
}
.cart-container{
    padding-top: 2.5%;
}

.cart-summary--fields{
    background-color: #FFEFEF;
}


.order-detail {
    background: transparent;
    margin: 0 auto;

    position: relative;
    vertical-align: top;
    width: 80%;
}
.order-detail--wrapper {
    background-color: inherit;
    display: inline-block;
    padding: 32px 1px 32px 32px;
    margin: 0 10px 0 0;
    position: static;
    vertical-align: top;
    width: auto;
}
.order-detail--head, .order-detail--body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.order-detail--head {
    position: relative;
}
.order-detail--title {
    display: inline-block;
    float: left;
    font-size: 2%;
    min-height: 40px;
    margin: 0 0 0 0;
    padding: 0 0 12px 0;
    text-transform: uppercase;
}
.order-detail__legend {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0 0 12px 0;
    position: absolute;
    right: 0;
    width: 65%; /* 수량,가격 위치조정1) */
}
.order-detail__legend--action {
    display: none;
}
.order-detail__legend--item {
    display: block;
    min-height: 40px;
    float: left;
    font-size: 16px;
    line-height: 2.5;
    min-width: 30%;  /* 수량,가격 위치조정2) */
    padding: 0 8px;
    text-align: center;
    width: auto;
}

.cart-items {
    clear: both;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.cart-item {
    height: auto;
    padding: 20px 0 36px 0;
    margin: 0;
    position: relative;
    vertical-align: top;
}
.cart-item--shopping-cart {
    border-bottom: 1px solid currentColor;

}
.cart-item--shopping-cart:first-child {
    border-top: 1px solid currentColor;
}
.cart-item--shopping-cart .cart-item--details {
    float: left;
    width: 50%;
}
.cart-item--shopping-cart .cart-item--values {
    clear: none;
}
.cart-item--shopping-cart .cart-item--price {
    display: inline-block;
    float: right;
    font-size: 24px;
    padding: 8px 8px 8px 8px;
    width: 50%;
    font-weight: bold;
    text-align: center;
}
.cart-item--wrapper {
    clear: both;
    display: block;
    height: auto;
    min-height: 100%;
    position: relative;
}
.cart-item--details {
    display: block;
    font-size: 16px;
    height: inherit;
    position: relative;
    margin: 0 auto 0 0;
    width: 100%;
    zoom: 1;
}
.cart-item--details::before, .cart-item--details::after {
    clear: both;
    content: "";
    display: table;
}
.cart-item--details::after {
    clear: both;
}
.cart-item--title {
    display: block;
    font-size: 24px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.cart-item--number {
    color: #888888;
    font-size: 14px;
    margin: 4px 0 0 0;
}
.cart-item--detail {
    clear: both;
    padding: 0 0 0 0;
    position: relative;
    margin: 0 0 8px 0;
}
.cart-item--link {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    float: left;
    text-decoration: none;
    width: auto;
}
.cart-item--link:hover, .cart-item--link:focus, .cart-item--link:active {
    color: inherit;
    text-decoration: none;
}
.cart-item--image-link {
    left: 0;
    float: none;
    position: absolute;
}
.cart-item--text-link {
    cursor: pointer;
    margin: 0 8px 8px 0;
}
.cart-item--image {
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
.cart-item--image img {
    background: #F8F8F8;
    display: inline;
    width: 120px;
    height: 120px;
}
.cart-item--description {
    display: block;
    margin: 0 0 0 128px;
    min-height: 120px;
    padding: 8px 8px 8px 8px;
    width: auto;
}
.cart-item--values {
    bottom: 16px;
    clear: both;
    display: inline-block;
    float: right;
    padding: 0;
    width: 50%;
}
.cart-item--price {
    display: inline-block;
    float: right;
    font-size: 18px;
    padding: 0 0 0 0;
    width: auto;
    font-weight: bold;
    text-align: right;
}
.cart-item--quantity {
    display: inline-block;
    float: left;
    padding: 8px 16px 8px 16px;
    text-align: center;
    width: 50%;
}
.cart-item--quantity-count {
    background-color: #222222;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 32px;
    line-height: 1.25;
    padding: 8px 5px 8px 3px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -8px;
    width: 32px;
}
.cart-item--quantity-form {
    position: relative;
    vertical-align: top;
}
.cart-item--quantity-label {
    color: transparent;
    font-size: 1px;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 0;
}
.cart-item--quantity-input {
    border: 2px solid #CCCCCC;
    height: 40px;
    margin: 0 0 4px 0;
    text-align: center;
    width: 100%;
}
.cart-item--quantity-update {
    background-color: #F8C8C4;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    height: 40px;
    margin: 4px 0 0 0;
    text-align: center;
    width: 100%;
}
.cart-item--quantity-update:hover {
    opacity: 0.7;
}
.cart-item--submit {
    white-space: nowrap;
}
.cart-item--remove {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    color: gray;
    cursor: pointer;
    display: inline;
    font-size: 12px;
    height: 16px;
    line-height: 0;
    padding: 0;
    width: auto;
}

.cart-summary {
    background-color: #FFEFEF;
    bottom: 0;
    display: inline-block;
    margin: 0 0 0 0;
    max-width: 30%;
    padding-top:2.5%;

    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: auto;
}
.cart-summary--title {
    border-bottom: 1px solid currentColor;
    border-top: 1px solid currentColor;
    display: inline-block;
    margin: 0;
    padding: 12px 0;
    text-align: left;
    width: 100%;
}
.cart-summary table {
    border: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    /*table-layout: fill;*/
    width: 100%;
}
.cart-summary table tbody {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.cart-summary table tfoot {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
}
.cart-summary table tfoot td {
    vertical-align: top;
}
.cart-summary table tfoot div {
    border-top: 1px solid currentColor;
    padding: 16px 0 8px 0;
}
.cart-summary table td {
    padding: 6px 0 0 0;
}
.cart-summary table td:first-child {
    color: currentColor;
    text-align: left;
}
.cart-summary table td:last-child {
    color: #666666;
    text-align: right;
    padding: 6px 0 6px 0;
}
.cart-summary--table-total {
    color: #000000;
    display: block;
    font-size: 24px;
    line-height: 1;
    width: 100%;
}
.cart-summary--table-currency {
    color: #666666;
}
.cart-summary--promo-code {
    background-color: #FFEFEF;
    height: 92px;
    margin: 16px 0;
    padding: 12px 16px;
    width: 100%;
}
.cart-summary--promo-code-wrapper {
    background-color: #FFEFEF;
    display: flex;
    width: 100%;
}
.cart-summary--promo-code-label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    padding: 2px 0;
    text-align: left;
}
.cart-summary--promo-code-input {
    border: 0;
    color: currentColor;
    height: 32px;
    float: left;
    padding: 2px 10px;
    width: 80%;
}
.cart-summary--promo-code-input::placeholder {
    color: #888888;
}
.cart-summary--promo-code-submit {
    background-color: #F8C8C4;
    border: 0;
    border-radius: 0 2px 2px 0;
    color: #F0F8FF;
    height: 100%;
    letter-spacing: 0.25px;

    font-size:20px;
    text-transform: uppercase;
    width: 30%;
    justify-content: flex-end;
}
.cart-summary--promo-code-submit:hover {
    color: #F0F8FF;
    opacity: 0.7;
}
.cart-summary--order-actions {
    min-height: 140px;
    background-color: #FFEFEF;;
}
.cart-summary--order-action {
    background-color: #F8C8C4;
    color: #F0F8FF;
    display: block;
    font-size: 16px;
    height: 44px;
    line-height: 1.875;
    margin: 0 0 10px 0;
    text-decoration: none;

}
.cart-summary--order-action:hover {
    color: #F0F8FF;
    opacity: 0.7;
}

@media all and (max-width: 920px) {
    .order-detail--wrapper {
        display: block;
        min-width: 100%;
    }
    .order-detail--body-mobile-reversed {
        direction: rtl;
    }
    .order-detail--body-mobile-reversed, .order-detail--body-mobile-reversed > * {
        transform: scaley(-1);
    }

    .cart-items,
    .cart-summary {
        display: inline-block;
        direction: ltr;
    }

    .cart-summary {
        display: block;
        min-width: 100%;
        padding: 32px 16px 32px 16px;
        position: inherit;
    }
}
@media all and (max-width: 640px) {
    .order-detail--wrapper {
        padding: 0 0 0 0;
    }
    .order-detail--title {
        background-color: #F8F8F8;
        line-height: 1;
        padding: 16px 0 0 0;
        text-align: center;
        width: 100%;
        vertical-align: middle;
    }

    .order-detail__legend {
        background-color: #F8F8F8;
        clear: both;
        float: none;
        padding: 16px 12px 16px 12px;
        position: relative;
        width: 100%;
    }

    .order-detail__legend--action {
        background-color: #FFFFFF;
        color: #FFFFFF;
        display: block;
        font-size: 16px;
        height: 44px;
        line-height: 1.875;
        width: 100%;
    }
    .order-detail__legend--action:hover {
        color: #FFFFFF;
        opacity: 0.7;
    }
    .order-detail__legend--item {
        display: none;
    }

    .cart-item--shopping-cart:last-child {
        border-bottom: none;
    }
    .cart-item--shopping-cart .cart-item--details {
        float: none;
        width: 5%;
    }
    .cart-item--shopping-cart .cart-item--values {
        clear: both;
        float: none;
        padding: 8px 0 8px 0;
        position: relative;
        top: 16px;
        width: 100%;
    }
    .cart-item--shopping-cart .cart-item--quantity {
        max-width: 120px;
        min-height: 96px;
        padding: 0;
    }
    .cart-item--shopping-cart .cart-item--price {
        bottom: 0;
        min-height: auto;
        padding: 8px 8px 8px 8px;
        position: absolute;
        right: 0;
        text-align: right;
        vertical-align: bottom;
    }
    .cart-item--title{
        width: max-content;
    }
    .cart-summary {
        background-color: #FFEFEF;
        padding: 0 0 32px 0;
    }
    .cart-summary table {
        margin: 8px 0 0 0;
    }
    .cart-summary--fields {
        background-color: #FFEFEF;

    }
}
@media all and (min-width: 640px) and (max-width: 920px) {
    .order-detail--wrapper {
        padding: 32px 0 0 0;
    }

    .cart-summary {
        display: block;
        min-width: 100%;
        vertical-align: top;
    }
    .cart-summary table {
        border-collapse: collapse;
        table-layout: fixed;
    }
    .cart-summary--promo-code {
        margin: 16px 0 16px 0;


    }
}