@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: 1000;
    font-style: normal;
}
@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'SOYOMapleBoldTTF', 'omyu_pretty';
}


/*
   1. 낮은 해상도의 PC, 태블릿 가로 : ~1024px 
   2. 테블릿 가로 : 768px ~ 1023px
   3. 모바일 가로, 태블릿 : 480px ~ 767px
   4. 모바일 : ~ 480px
    */


/* 반응형 스타일 */
@media screen and (min-width: 1024px) {

    html {
        height: 100%; /* 전체 높이 */
    }
    body {
        margin:0;
        padding:0;
        font-family: 'SOYOMapleBoldTTF', sans-serif;
        background-color: aliceblue;
    }

    .login-box { /* 로그인 박스를 반응형처리 */
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        padding: 40px;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        box-shadow: 0 15px 25px;
        border-radius: 10px;
    }


    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #F8C8C4;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }




}


/* 반응형 스타일 */
@media screen and (min-width: 768px) {

    html {
        height: 100%; /* 전체 높이 */
    }
    body {
        margin:0;
        padding:0;
        font-family: sans-serif;
        background-color: aliceblue;
    }

    .login-box { /* 로그인 박스를 반응형처리 */
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        padding: 40px;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        box-shadow: 0 15px 25px;
        border-radius: 10px;
    }


    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #F8C8C4;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }



}



/* 모바일 가로 버전 */
@media screen and (max-width: 767px) {

    html {
        height: 100%; /* 전체 높이 */
    }
    body {
        margin:0;
        padding:0;
        font-family: sans-serif;
        background-color: aliceblue;
    }

    .login-box { /* 로그인 박스를 반응형처리 */
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        padding: 40px;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        box-shadow: 0 15px 25px;
        border-radius: 10px;
    }


    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #F8C8C4;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }


}

/* 모바일 세로 버전 */
@media screen and (max-width: 480px) {

    html {
        height: 100%; /* 전체 높이 */
    }
    body {
        margin:0;
        padding:0;
        font-family: sans-serif;
        background-color: aliceblue;
    }

    .login-box { /* 로그인 박스를 반응형처리 */
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        padding: 20px;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        box-shadow: 0 15px 25px;
        border-radius: 10px;
    }


    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #F8C8C4;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .registerbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }



}

.read1{
    width: 80%;
    height: 100px;
    margin-left: 10px;
    border: 1px solid gray;
}

.btn_submit, .btn_confirm{
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #F8C8C4;
    color: #F6F4FC;
    font-size: 20px;
    font-weight: bold;
}

.btn_confirm:hover , .btn_submit:hover{
    background-color: #F8C8C4;
}
.btn_submit {
    margin-top: 10px;
}

.title{
    font-size: 20px;
}