/* 모바일~태블릿 */
@media (min-width: 480px) and (max-width: 767px) {
    .navLogo {
        font-size: 1rem; /* 제목 크기를 줄임 */
    }

    .navIcon button {
        font-size: 1rem; /* 아이콘 크기를 줄임 */
    }

    .navbar {
        font-size: 1rem; /* 아이콘 크기를\ 줄임 */
        background-color: #f0f8ff; /* 앨리스 블루 */
    }

    .product-content {
        margin-left: 10px;
    }
}


@media (max-width: 767px) {
    .navbar .searchNav {
        float: none;
    }

    .navbar a, .navbar input[type=text], .navbar {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .navbar input[type=text] {
        border: 1px solid #ccc;
    }
}

/* 상품 디테일 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'omyu_pretty';
    background-color: #F6F4FC;
}

body {
    line-height: 1.5;
}

.card-wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
    padding-bottom: 0px;
}

img {
    width: 100%;
    display: block;
}

.img-showcase {
    display: flex;
    width: 100%; /* 예시로 600px로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top: 100px;
    /*width: 100%;*/
    /*transition: all 0.5s ease;*/
}

.img-showcase img {
    min-width: 100%;
    margin-top: 50px;
}

.img-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-item {
    width: calc(25% - 10px); /* 각 이미지 너비의 25% (4개의 이미지가 가로폭에 균등하게 배치되도록) */
    margin-bottom: 10px; /* 이미지 간격을 조절할 수 있습니다. */
}

.img-item img {
    margin: 0.25rem;
    width: 100%;
    height: 60%;
}

.img-item:hover, #social-links1:hover, #social-links2:hover, #social-links3:hover, #social-links4:hover, #social-links4:hover {
    opacity: 0.8;
}

.product-title {
    font-size: 35px;
    font-weight: bold;
    position: relative;
    color: navy;
}

hr {
    width: 500px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.hr2 {
    width: 500px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.hr3 {
    width: 90%;
    margin: 150px; /* 위쪽 여백을 100px로 설정하고 가운데 정렬 */
    margin-left: 100px;
}

.imgContent {
    /*max-width: 1100px;*/
    margin: auto;
    margin-bottom: 10px;
    display: block;
    width: 60%;
    height: 50%;
}

.product-content {
    width: 100%;
    margin-top: 150px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.product-detail {
    display: flex;
}

.product-detail > h2, .product-detail > p {
    justify-content: space-between;
}

.product-detail > p {
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.last-price, .new-price, .product-detail > h2, .product-code2, .purchase-info1,
.product-option, .product-option {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.last-price span, .new-price span, .product-code2 span {
    margin-left: 70px;
    font-size: 20px;
    line-height: 30px;
}
.design-options {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}

.form-select1 {
    font-weight: normal;
    margin-left: 85px;
    font-size: 20px;
    line-height: 100px;
    border: 1.5px solid #ddd;
    justify-content: space-between;
}

.purchase-info2 {
    width: auto;
    margin-left: 110px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.purchase-info input,
.purchase-info .btn {
    font-size: 20px;
    border: 1.5px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 60px;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info {
    opacity: 0.9;
}

.purchase-info, .product-option {
    display: flex;
}

.purchase-info1, .purchase-info2 {
    margin-top: 10px;
    justify-content: space-between;
}

#galaxy-options, #iphone-options {
    margin-left: 10px;
    border-radius: 10px;
    border: 1.5px solid #ddd;
    line-height: 50px;
}
#case-options {
    border-radius: 10px;
    line-height: 100px;
}

.form-select2 {
    display: none;
}

.form-select2, .form-select {
    margin-left: 110px;
    font-size: 20px;
    justify-content: space-between;
    border-radius: 10px;
    border: 1.5px solid #ddd;
}

.btn {
    margin-right: 40px;
    font-size: 25px;
    color: navy;
    background-color: #F8C8C4;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    background-color: #F0F8FF;
    color: navy;
}

.social-links {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 10px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: navy;
    margin: 0 0.2rem;
    margin-left: 20px;
    border-style: hidden;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.5s ease;
}
.social-links button{
    border: none;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-content {
        padding-top: 0;
    }
}