<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--    #springboot 링크 방식-->
    <link th:href="@{/css/memberCart.css}" rel="stylesheet">
    <link th:href="@{/css/basic.css}" rel="stylesheet">

</head>



<body>

<section class="order-detail row">
    <div class="order-detail--wrapper col-xs-12 col-md-12 col-lg-9">
        <header class="order-detail--head row">
            <h1 class="order-detail--title col-xs-12 col-md-12 col-lg-12">장바구니</h1>
            <div class="order-detail__legend row">
                <a class="order-detail__legend--action btn" href="@Url.ContentUrl(Model.StartPage.CheckoutPage)">결제하기</a>
                <div class="order-detail__legend--item" id="order-detail__legend--quantity" aria-hidden="true" role="presentation">수량</div>
                <div class="order-detail__legend--item" id="order-detail__legend--price" aria-hidden="true" role="presentation">가격</div>
            </div>
        </header>
        <div class="order-detail--body row">
            <section class="cart-items col-xs-12 col-md-12 col-lg-9">
                <div class="cart-item cart-item--shopping-cart row">
                    <div class="cart-item--wrapper">
                        <div class="cart-item--details">
                            <a class="cart-item--link cart-item--image-link" href="@cartItem.LineItem.AddedFromUrl()">
                                <div class="cart-item--image">
                                    <img class="img-responsive" src="/memberproductimg/11377090_4727185.jpg" alt="item1">
                                </div>
                            </a>
                            <div class="cart-item--description">
                                <a class="cart-item--link cart-item--text-link" href="@cartItem.LineItem.AddedFromUrl()">
                                    <h2 class="cart-item--title">(젤리) 기본 케이스</h2>
                                    <p class="cart-item--number">H-2404-001</p>
                                </a>
                                <div class="cart-item--detail cart-item--size">plain</div>
                                <div class="cart-item--action">
                                    <form action="/shopping-cart/removelineitem/" data-product-id="2880123" method="post" novalidate="novalidate"><input id="code1" name="code" type="hidden" value="v-2880123">
                                        <input id="code2" name="code" type="hidden" value="v-2880123">
                                        <button class="cart-item--submit cart-item--remove" type="submit">항목 제거</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item--values">
                            <div class="cart-item--quantity">
                                <form class="cart-item--quantity-form" method="post" novalidate="novalidate" aria-labelledby="order-detail__legend--quantity">
                                    <input class="cart-item--quantity-input" value="1">
                                    <button class="cart-item--quantity-update cart-item--submit" aria-label="Update Quantity" type="submit">Update</button>
                                </form>
                            </div>
                            <div class="cart-item--price" aria-labelledby="order-detail__legend--price"><span>10000</span></div>
                        </div>
                    </div>
                </div>
                <div class="cart-item cart-item--shopping-cart row">
                    <div class="cart-item--wrapper">
                        <div class="cart-item--details">
                            <a class="cart-item--link cart-item--image-link" href="@cartItem.LineItem.AddedFromUrl()">
                                <div class="cart-item--image">
                                    <img class="img-responsive" src="/memberproductimg/11377090_4727185.jpg" alt="Cyclops Eyewear">
                                </div>
                            </a>
                            <div class="cart-item--description">
                                <a class="cart-item--link cart-item--text-link" href="@cartItem.LineItem.AddedFromUrl()">
                                    <h2 class="cart-item--title">(젤리) 기본 케이스</h2>
                                    <p class="cart-item--number">H-2404-002</p>
                                </a>
                                <div class="cart-item--detail cart-item--size">haert</div>
                                <div class="cart-item--action">
                                    <form action="/shopping-cart/removelineitem/" data-product-id="2880123" method="post" novalidate="novalidate"><input id="code3" name="code" type="hidden" value="v-2880123">
                                        <input id="code4" name="code" type="hidden" value="v-2880123">
                                        <button class="cart-item--submit cart-item--remove" type="submit">항목 제거</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item--values">
                            <div class="cart-item--quantity">
                                <form class="cart-item--quantity-form" method="post" novalidate="novalidate" aria-labelledby="order-detail__legend--quantity">
                                    <input class="cart-item--quantity-input" value="1">
                                    <button class="cart-item--quantity-update cart-item--submit" aria-label="Update Quantity" type="submit">Update</button>
                                </form>
                            </div>
                            <div class="cart-item--price" aria-labelledby="order-detail__legend--price"><span>10000</span></div>
                        </div>
                    </div>
                </div>
                <div class="cart-item cart-item--shopping-cart row">
                    <div class="cart-item--wrapper">
                        <div class="cart-item--details">
                            <a class="cart-item--link cart-item--image-link" href="@cartItem.LineItem.AddedFromUrl()">
                                <div class="cart-item--image">
                                    <img class="img-responsive" src="/memberproductimg/11377090_4727185.jpg">
                                </div>
                            </a>
                            <div class="cart-item--description">
                                <a class="cart-item--link cart-item--text-link" href="@cartItem.LineItem.AddedFromUrl()">
                                    <h2 class="cart-item--title">(젤리) 기본 케이스</h2>
                                    <p class="cart-item--number">H-2404-003</p>
                                </a>
                                <div class="cart-item--detail cart-item--size">star</div>
                                <div class="cart-item--action">
                                    <form action="/shopping-cart/removelineitem/" data-product-id="2880123" method="post" novalidate="novalidate"><input id="code5" name="code" type="hidden" value="v-2880123">
                                        <input id="code" name="code" type="hidden" value="v-2880123">
                                        <button class="cart-item--submit cart-item--remove" type="submit">항목 제거</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item--values">
                            <div class="cart-item--quantity">
                                <form class="cart-item--quantity-form" method="post" novalidate="novalidate" aria-labelledby="order-detail__legend--quantity">
                                    <label class="cart-item--quantity-label" for="v-286787402">Current Quantity</label>
                                    <input class="cart-item--quantity-input" value="1" id="v-286787402" required>
                                    <button class="cart-item--quantity-update cart-item--submit" aria-label="Update Quantity" type="submit">Update</button>
                                </form>
                            </div>
                            <div class="cart-item--price" aria-labelledby="order-detail__legend--price"><span>10000</span></div>
                        </div>
                    </div>
                </div>
            </section>
            <aside class="cart-summary col-xs-12 col-md-12 col-lg-3">
                <table class="cart-summary--table">
                    <thead class="cart-summary--table-head">
                    <th colspan="2">
                        <h2 class="cart-summary--title row">Order Summary</h2>
                    </th>
                    </thead>
                    <tbody class="cart-summary--table-body">
                    <tr class="cart-summary--table-row">
                        <td class="cart-summary--table-col" scope="row">상품</td>
                        <td class="cart-summary--table-col">30000</td>
                    </tr>
                    <tr class="cart-summary--table-row">
                        <td class="cart-summary--table-col" scope="row">할인 금액</td>
                        <td class="cart-summary--table-col">15000</td>
                    </tr>
<!--                    <tr class="cart-summary&#45;&#45;table-row">-->
<!--                        <td class="cart-summary&#45;&#45;table-col" scope="row">Estimated Tax</td>-->
<!--                        <td class="cart-summary&#45;&#45;table-col">$22.00</td>-->
<!--                    </tr>-->
                    </tbody>
                    <tfoot class="cart-summary--table-foot">
                    <tr class="cart-summary--table-row">
                        <td class="cart-summary--table-col" scope="row">
                            <div>총 결제 금액</div>
                        </td>
                        <td class="cart-summary--table-col">
                            <div>
                                <span class="cart-summary--table-total">15000</span>
                                <span class="cart-summary--table-currency">KOR</span>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <section class="cart-summary--fields">
                    <section class="cart-summary--promo-code">
                        <form class="cart-summary--promo-code-form">
                            <label class="cart-summary--promo-code-label" for="promocode">추가 할인 코드</label>
                            <div class="cart-summary--promo-code-wrapper">
                                <input class="cart-summary--promo-code-input" type="text" placeholder="Enter code" id="promocode"></input>
                                <button class="cart-summary--promo-code-submit btn" type="submit">확인</button>
                            </div>
                        </form>
                    </section>
                    <section class="cart-summary--order-actions">
                        <a class="btn cart-summary--order-action" href="@Url.ContentUrl(Model.StartPage.CheckoutPage)">결제하기</a>
                        <a class="btn cart-summary--order-action" href="@Model.ContinueShoppingUrl">더 쇼핑하기</a>
                    </section>
                </section>
            </aside>
        </div>
    </div>
</section>
<div id="cart"></div>
</body>
</html>